<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table m-5">
        <thead>
          <tr class="table-title">
            <th>Id</th>
            <th class="ps-4">UserId</th>
            <th class="ps-4">Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <td>{{ detailPost?.id }}</td>
            <td class="ps-4">{{ detailPost?.userId }}</td>
            <td class="ps-4">{{ detailPost?.title }}</td>
            <td>{{ detailPost?.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
