.btn {
    background-color: #e9afaf;
    cursor: pointer;
    color: #8d7272;
    font-weight: 500;
    
  }
  .btn:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #e9afaf;
  }