<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <footer class="text-center mt-5">
        <button type="button" class="btn btn-sm mx-2">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-sm mx-2">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-sm mx-2">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-sm mx-2">
          <i class="fab fa-twitter"></i>
        </button>

        <p class="footer-text text-center mt-3">© 2023 Copyright: Nihan Telli</p>
      </footer>
    </div>
  </div>
</div>
