.nav-link.active {
  background-color: #e9afaf;
  color: #ffffff;
  border-radius: 10px;
}
.nav-link:hover {
  transition: 1s;
  background-color: #e9afaf;
  color: #ffffff;
  border-radius: 10px;
}

.nav-link {
  color: #b98892;
  font-weight: 500;

  text-transform: uppercase;
}
.list{display:inline-block;}