
  <div>
    <ul class="list-group">
      <li class="list-group-item p-4">
        <a
          class="link"
          routerLinkActive="active"
          routerLink="/pages/admin-home"
          >Admin-Home</a
        >
      </li>
      <li class="list-group-item p-4">
        <a class="link" routerLinkActive="active" routerLink="/pages/posts"
          >Posts</a
        >
      </li>
      <li class="list-group-item p-4">
        <a class="link" routerLinkActive="active" routerLink="/pages/users"
          >Users</a
        >
      </li>
      <li class="list-group-item p-4">
        <a
          class="link"
          routerLinkActive="active"
          routerLink="/pages/visitor-data"
          >Visitor Data</a
        >
      </li>
      <li class="list-group-item p-4">
        <a class="link" routerLinkActive="active" routerLink="/home"
          >Back to Home</a
        >
      </li>
    </ul>
  </div>
