.active {
  color: #c77676;
  font-weight: 700;
  font-size: 18px;
}

.list-group-item:hover {
  background-color: #e9afaf;
  border-radius: 10px;
}
.link:hover {
  color: #fff;
}
.link {
  text-decoration: none;
  color: #b98892;
  text-transform: uppercase;

}
.list-group {
  margin-top: 25%;
}
