<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- listing information from the visitor form -->
      <table class="table mt-5">
        <thead>
          <tr class="table-title">
            <th>Number of Posts</th>
            <th>Number of Users</th>
            <th>Number of Visitors</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <th>{{ postList.length }}</th>
            <th>{{ userList.length }}</th>
            <th>{{ visitorService.visitors.length }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
