<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/images/Spin-1.1s-70px.svg" alt="" />
        </div>
      </div>
      <table class="table m-5">
            <!-- Listing user details  -->
        <thead>
          <tr class="table-title">
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <td>{{ detailUser?.name }}</td>
            <td>{{ detailUser?.username }}</td>
            <td>{{ detailUser?.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
