<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/images/Spin-1.1s-70px.svg" alt="" />
        </div>
      </div>
      <table class="table m-5">
        <!-- Listing user details  -->
        <thead>
          <tr class="table-title">
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
            <th>WEBSITE</th>
            <th>COMPANY</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <td>{{ detailUser?.name }}</td>
            <td>{{ detailUser?.username }}</td>
            <td>{{ detailUser?.email }}</td>

            <td class="d-flex flex-column">
              <span>Street:</span> {{ detailUser?.address?.street }}
              <span>Suite:</span> {{ detailUser?.address?.suite }}
              <span>City:</span> {{ detailUser?.address?.city }}
              <span> Zipcode:</span>
              {{ detailUser?.address?.zipcode }}
            </td>

            <td>{{ detailUser?.phone }}</td>

            <td>{{ detailUser?.website }}</td>

            <td class="d-flex flex-column">
              <span> Name:</span> {{ detailUser?.company?.name }}
              <span>CatchPhrase:</span>
              {{ detailUser?.company?.catchPhrase }}
              <span>Bs:</span>
              {{ detailUser?.company?.bs }},
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
