.btn {
  background-color: #e9afaf;
  cursor: pointer;
  color: #8d7272;
  font-weight: 500;
}
.btn:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #e9afaf;
}

label {
  color: #8d7272;
  font-weight: 600;
}
.form-title {
  color: #8d7272;
}
.error-validation{color: #f1a661;}
.error-modal {
  background-color: #f1a661;
}
.success-modal {
  background-color: #a4be7b;
}
.close-icon-error {
  background-color: #f1a661;
  border: none;
}
.close-icon-success {
  background-color: #a4be7b;
  border: none;
}
