<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table mt-5">
        <thead>
          <tr class="table-title">
            <th>Post Id</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <td>{{ comment?.postId }}</td>
            <td>{{ comment?.id }}</td>
            <td>{{ comment?.name }}</td>
            <td>{{ comment?.email }}</td>
            <td>{{ comment?.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
