<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <img src="../../../assets/images/Spin-1.1s-70px.svg" alt="" />
        </div>
      </div>
      <table class="table mt-5">
            <!-- Listing comments from posts -->
        <thead>
          <tr class="table-title">
            <th class="postid">Post Id</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-text">
            <td>{{ comment?.postId }}</td>
            <td>{{ comment?.id }}</td>
            <td>{{ comment?.name }}</td>
            <td>{{ comment?.email }}</td>
            <td>{{ comment?.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
