<div class="container">
  <h3 class="text-center main-title mt-5">GALLERY</h3>
  <div class="row mt-5">
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img1.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img2.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img3.avif" alt="" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img4.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img5.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img6.avif" alt="" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img7.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img8.avif" alt="" />
    </div>
    <div class="col-md-4">
      <img class="img" src="../../../assets/images/img9.avif" alt="" />
    </div>
  </div>
</div>
